#index ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  gap: 0.4em;
}

#index li {
  list-style: none;
  white-space: nowrap;
}

@media only screen and (max-width:767px) {
  #index ol {
    max-width: 15em;
  }
}

#project_box_header {
  background-color: #a1c87c;
}

.current_release {
  background-color: #008800;
}

.release {
  background-color: #bbbbbb;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
}

summary::before {
  content: '';
  width: 1em;
  height: 0.5em;
  background: url('/gl/images/chevron-down.svg');
  background-size: cover;
  margin-right: 0.5em;
  transition: 0.2s;
}

details[open] > summary::before {
  transform: rotate(180deg);
}
