/* Alphabetical index */

#index ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  gap: 0.4em;
}

#index li {
  list-style: none;
  white-space: nowrap;
}

@media only screen and (max-width:767px) {
  #index ol {
    max-width: 15em;
  }
}

/* Miscellaneous project stuff */

#project_box_header {
  background-color: #a1c87c;
}

/* Release pills */

.current_release {
  background-color: #008800;
}

.release {
  background-color: #bbbbbb;
}

/* Release accordion */

summary {
  list-style: none;
  display: flex;
  align-items: center;
}

summary::before {
  content: '';
  width: 1em;
  height: 0.5em;
  background: url('../images/chevron-down.svg');
  background-size: cover;
  margin-right: 0.5em;
  transition: 0.2s;
}

details[open] > summary::before {
  transform: rotate(180deg);
}

/* Edit icons */

.is_editable {
  visibility: visible !important;
}

.is_editing {
  display: none;
}

.edit_button {
  background: none;
  border: none;
  padding: 0;
  visibility: hidden;
}

.edit_icon {
  width: 0.75em;
  height: 0.75em;
  fill: #bbbbbb;
  vertical-align: 0;
}

.edit_icon:hover {
  fill: var(--bs-link-hover-color);
}

/* User avatars */

#current_user button img.avatar {
  width: 2em;
  height: 2em;
  margin: 0.2em;
}

img.avatar {
  border-radius: 50%;
}

/* Game box image editing */

#box_image_input {
  display: none;
}

#box_image_label {
  display: inline-flex;
  position: relative;
  pointer-events: none;
}

#box_image_label:hover #box_image {
  filter: grayscale(100%) brightness(0.5) blur(1px);
}

#box_image_none {
  display: none;
  font-style: italic;
  background-color: #dee2e6;
}

#box_image_delete_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: auto;
}

#box_image_delete_overlay button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0.5em;
  left: 0.5em;
  width: 1.75em;
  height: 1.75em;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
}

.no_image #box_image_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 12em;
}

.no_image #box_image {
  display: none !important;
}

.no_image #box_image_delete_overlay button {
  visibility: hidden !important;
}

#box_image_delete_overlay button:hover {
  border-color: #0a58ca;
}

#box_image_delete_overlay button:hover svg {
  fill: #0a58ca;
}

#box_image_edit_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  z-index: 0;
}

#box_image_edit_overlay:hover {
  opacity: 1;
  cursor: pointer;
}

#box_image_edit_overlay svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  fill: white;
}

@media only screen and (max-width:767px) {
  #game_section_form {
    clear: both;
  }
}
