/* common */

img {
  max-width: 100%;
  height: auto;
}

.svg-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
  vertical-align: -0.125em;
}

.svg-sprites {
  display: none;
}

.wordmark {
  width: 8.75em;
}

#alert-bar {
  color: white;
  background-color: #62a324;
}

.hero {
  background: linear-gradient(-180deg, #ffffff, #62a324);
  background-size: 100% 100%;
  background-repeat: repeat-x;
}

.footer-icon {
  width: 3em;
}

/* index */

.big-icon {
  width: 8em;
  padding-bottom: 0.5em;
}

.cal-icon {
  width: 3.5em;
  height: 3.5em;
}

#testimonials blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

#testimonials blockquote p::before {
  content: open-quote;
}

#testimonials blockquote p::after {
  content: close-quote;
}

#news {
  background: linear-gradient(180deg, #f2e88f, #ffffff);
  background-size: 100% 100%;
  background-repeat: repeat-x;
}

.screenshot {
  position: absolute;
  left: 0;
  animation-name: fade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.screenshot:nth-of-type(1) {
  animation-delay: 0s;
}

.screenshot:nth-of-type(2) {
  animation-delay: 5s;
}

.screenshot:nth-of-type(3) {
  animation-delay: 10s;
}

.screenshot:nth-of-type(4) {
  animation-delay: 15s;
}

.screenshot:nth-of-type(5) {
  animation-delay: 20s;
}

.screenshot:nth-of-type(6) {
  animation-delay: 25s;
}

#screenshot-outer {
  height: calc(3 / 4 * 100vw);
}

@media (min-width: 768px) {
  #screenshot-outer {
    height: calc(1200px * 0.45 * 0.75);
  }
}

@media (min-width: 992px) {
  #screenshot-outer {
    height: calc(1200px * 0.56625 * 0.75);
  }
}

@media (min-width: 1200px) {
  #screenshot-outer {
    height: calc(1200px * 0.7125 * 0.75);
  }
}

@media (min-width: 1400px) {
  #screenshot-outer {
    height: calc(1200px * 0.825 * 0.75);
  }
}

/* about */

#donate form button[type="submit"] img {
  vertical-align: middle;
}

#donate form button[type="submit"] {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: white;
}

#donate form button[type="submit"]:hover span {
  text-decoration: underline;
}
